<!--<div class="dummy-container" style="margin-top: 1px solid #BABAB; width:100%; background: url('/assets/android-app-banner-1.png') top left no-repeat; background-position: fixed; background-size: 100%"> -->

	<div class="container">
		<div class="hero-unit faq">
			<div>
				<h1 class="ac">Android Development Tutorial</h1>
				<h3 class="ac text-error">{ "do it on your PC", "track progress in browser" }</h3>
				<hr/>
				<div class="row-fluid">
					<div class="span6">
						<iframe width="500" height="400" src="//www.youtube.com/embed/FiuWvFyyuak" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="span1"></div>
					<div class="span5" style="margin-top:50px;">
						<p>We combine the best of interactive & offline learning. Build on your PC, in the real environment. Our <span class="text-error">Virtual Assistant</span> (Eclipse plugin) makes it easier to get started & assist you like a real mentor.</p>
						<%= link_to app_tutorial_landing_page_path("twitter"), :class => "btn btn-large btn-success btn-block" do %>
							<h4>Learn Android by building a twitter client<br/>
								<small style="color:inherit; font-size:85%;">First 2 hours of content free</small></h4>
						<% end %>
						<div class="ac">or <a href="#">check out the concept lessons</a></div>
					</div>
				</div>
			</div>
		</div>

	</div><!-- container -->
<!--</div> -->
<script>
	$("body").css({ "background": "url('/assets/android-app-banner-1.png') top left no-repeat fixed", "background-size": "100%", "background-color": "white"})
</script>
<hr/>
<div class="container">
	<div class="row-fluid">
		<div class="span4">
			<h2 class="ac">What is this !</h2>
			<ul>
				<li>There are two set of tutorials - <span class="text-error">Concept Lessons</span> & <span class="text-error">App Tutorial</span></li>
				<li>Concept Lessons exhaustively cover one Android concept at a time. Each lesson has a sample app.</li>
				<li>App Tutorial teaches how to implement the Android concepts in a real app. Requires downloading & installing Codelearn Eclipse plugin.</li>
			</ul>
		</div>
		<div class="span4">
			<h2 class="ac">Getting Started</h2>
			<ul>
				<li>First time with Android ? Start with Concept Lessons. Move to App Tutorial whenever comfortable.</li>
				<li>Hop to concept lesson of your choice. App Tutorial lessons can only be completed sequentially. Refer appropriate concept lesson for more information during App Tutorial.</li>
				<li>Android SDK & our Eclipse plugin installation mandatory for App Tutorial. Steps included in first lesson.</li>
			</ul>
		</div>
		<div class="span4">
			<h2 class="ac">Target Audience</h2>
			<p>If you belong to one of the category below, you are the right audience.</p>
			<ul>
				<li><strong>Hackers</strong> : People who are impatient & do not care.</li>
				<li><strong>Java Developers</strong> : People with prior knowledge of Java.</li>
				<li><strong>Android Newbies</strong> : People having no/little knowledge of Android</li>
			</ul>
		</div>
	</div>
</div>

<hr/>

<div class="container">
	<h2 class="ac">Quick glimpse of App Tutorial features</h2>
	<hr/>
	<div class="row-fluid">
		<div class="span7">
			<%= image_tag "twitter-client/collage.png", alt: "Login screen Layout overview", title: "Login screen Layout overview" %>
		</div>

		<div class="span5" style="margin-top:100px">
			<h3>Practical Approach</h3>
			<p><ul><li>Together we learn by building an awesome Twitter Application.</li><li>Once we are done with the tutorial, you can flaunt your app to your friends or even use it as your own Twitter client.</li></ul></p>
		</div>
	</div>

	<hr/>

	<div class="row-fluid">
		<div class="span5" style="margin-top:100px">
			<h3>Real Development Environment</h3>
			<p>Most of the professional Android developers build Apps on their own PC. We want to give you a 'Real' approach to Android development. </p>
			<div class="alert">
				<ul>
					<li> You will have to work with <strong>the Eclipse IDE</strong>, the standard platform to develop Android apps.</li>
					<li> You also need to download our custom Android Plugin. The plugin makes it easier to get started. It helps us track your progress.  </li>
				</ul>
			</div>
		</div>

		<div class="span7">
			<%= image_tag "twitter-client/eclipse_ide.png", alt: "Eclipse IDE", title: "Eclipse IDE" %>
		</div>
	</div>

	<hr/>

	<div class="row-fluid">
		<div class="span7">
			<%= image_tag "twitter-client/empty_list_view.png", alt: "Empty List View Error", title: "Empty List View Error" %>
		</div>
		<div class="span5" style="margin-top:150px">
			<h3>Virtual Assistant</h3>
			<p><ul><li>Like your personal mentor, we continually track your progress.</li><li> Our user-friendly <strong>Virtual Assistant</strong> is fun to learn with ! </li><li>Virtual Assistant points you to the errors the way a real mentor does.</li></ul></p>
		</div>
	</div>

	<hr/>

	<div class="row-fluid">

		<div class="span4" style="margin-top:50px">
			<h3>Best Practices</h3>
			<p><ul><li>Our methodology intrinsically takes care of following and recommending best practices used in the industry.</li><li>We even candidly refer you to other good stuff on the internet, just for your reference and curiosity.</li></ul></p>
		</div>

		<div class="span8">
			<%= image_tag "twitter-client/good_practice.png", alt: "Login screen Layout overview", title: "Login screen Layout overview" %>
		</div>
	</div>

	<hr/>
</div>


<div class="container">
	<div class="hero-unit ac">
		<h2>Android Concept Lessons</h2>
		<p>For the first timers, this section is the right place to get started. Each lesson is exhaustive & cover the topic in great depth with an example app. Once done, move over to the App Tutorials to see the concepts in action.</p>
	</div>
	<ol class="thumbnails" style="margin-left: 50px;">
		<li class="span3">
		<h3><%= link_to "Android Introduction", android_concept_lesson_path("android-introduction") %></h3>
		<p>First time with Android ? Check this lesson to know the basic building blocks of Android application (also known as Android Components) namely Activity, View, Intent, Service, Broadcast Receiver & Notification.</p>
		</li>
		<li class="span3">	
		<h3  style="line-height:1.5em"><%= link_to "Android Setup/Installation", android_concept_lesson_path("android-setup") %></h3>
		<p>Check the lesson to know how to setup Android SDK on your PC. It includes screencast for setting up the SDK. The SDK installation has pre-requisites like installing JDK. It is all being covered in the lesson.</p>
		</li>
		<li class="span4">
		<h3><%= link_to "Android Hello World", android_concept_lesson_path("android-hello-world") %></h3>
		<p>Done with installing the Android SDK but clueless on how to get started ? This lesson tells you how to get started with a Hello World Android app. Creating your app for the first time can be daunting to newbies. Here, we explain  what various input fields stand for during the app creation process. We have also explained the folder structure and different tools like Console, Logcat & DDMS which you will be needing during Android app development. </p>
		</li>
		<li class="span4">
		<h3><%= link_to "Android Layouts/Viewgroups", android_concept_lesson_path("android-layouts") %></h3>
		<p>One of the important components of Android apps are View elements which are contained in a Viewgroup, also known as Layout. The Layout files are XML files. The User Interface design of your app starts with the Layout file & arranging View elements inside it. Follow this lesson to know how to get started with Layouts & what are the most popular Layout types available in Android.</p>
		<p>Each Layout type has a separate project that you can download, import in Eclipse & see the Layout in action.</p>
		</li>
		<li class="span6">
		<h3><%= link_to "Android Activity Lifecycle", android_concept_lesson_path("android-activity-lifecycle") %></h3>
		<p>While creating Hello World app, you would have noticed that 'New Project' wizard asks you for an Activity name. Activity is the component of Android that you should be aware of. An Android app consists of multiple Activities. At a time,since, you are looking at only one Activity of an application, all other Activites (of the current app & the other apps) go to background. This is an Activity state. An Activity has many states & lifecycle, which you need to handle as an Android developer. Follow the lesson to dig deeper into an Activity, its state & lifecycle.</p>				
		<p>We have bundled an Android project <a href="https://github.com/pranayairan/Code-Learn-Android-Example/tree/master/CodeLearnActivityLifeCycle">CodelearnActivityLifeCycle</a> that will show you various Activity Lifecycle methods that gets triggered. Instructions on how to get the Activity to enter a particular lifecycle method is included in the lesson.</p>
		</li>
		
		<li class="span4">
		<h3><%= link_to "Intents in Android", android_concept_lesson_path("android-intents") %></h3>
		<p>Done creating Activity & corresponding User Interface through Layout XML files ? It is time to learn how to navigate from one Activity to another. Intents in Android does exactly that. But there is more to it. You can pass data from one Activity to another. You can launch non-Activity components like Services, Notifications & even other Android apps.</p>
		<p>Checkout the bundled sample app <a href="https://github.com/pranayairan/Code-Learn-Android-Example/tree/master/CodeLearnHelloIntents">CodelearnHelloIntents</a> which shows all the above examples in action.</p>
		</li>
		<li class="span6">
		<h3><%= link_to "Android Widgets/Views with Listeners", android_concept_lesson_path("android-widgets-view-elements") %></h3>
		<p>Earlier in Lesson 4, we introduced Android Layouts which contained various Android View elements. This lesson introduces some of the standard View elements like Button, TextView, EditText, Radiobutton & Checkbox. It also talks about the View specific attributes that you can either set in the XML view file or set it through your Activity java code. Some views have Listeners to which you can attach your java code that gets activated on events. Example - a Button View getting clicked. The Listeners vary from element to element & have been covered in the specific elements.</p>
		<p>After the standard/simple Views, some complex View elements like ImageView, ListView (just an introduction), GridView & ScrollView are also introduced with their specific attributes.</p>
		<p>We have included relevant code snippets but unfortunately did not get enough time to create sample projects for the same. If you are interested to contribute, do write to us.</p>
		</li>
		
		<li class="span4">
		<h3><%= link_to "Android ListView & Adapters", android_concept_lesson_path("android-list-view") %></h3>
		<p>Android ListView is one of the most ubiquitious but also one of the most difficult concept to understand. For the beginners, any list that you have seen on your Android phone (example list of phone numbers when you launch your contact) is implemented using Android ListView. Here we have tried making it as easier as possible for you by explaining the easiest way of implementing a basic Listview & then explaining what each line of code represent. We then follow the similar process with more complex ListView implementations.</p>
		<p>You would probably not want to miss the <a href="https://github.com/pranayairan/Code-Learn-Android-Example/tree/master/CodeLearnListExample">CodeLearnListExample</a> app that we have bundled with the lesson. The app will let you see various ListView implementations in action with instructions.</p>
		</li>
		
		<li class="span3">
		<h3><a href="#">Logging in Android</a></h3>
		<p>...coming soon..</p>
		</li>
		<li class="span4">
		<h3><a href="#">Android Dialogs / Popups / Toasts</a></h3>
		<p>...coming soon..</p>
		</li>
		<li class="span3">
		<h3><a href="#">File Handling in Android</a></h3>
		<p>...coming soon..</p>
		</li>
		<li class="span4">
		<h3 style="line-height:1.5em"><a href="#">Android Shared Preferences (Persistence)</a></h3>
		<p>...coming soon..</p>
		</li>
	</ol>
	<style>
		ol.thumbnails h3 {
			text-align:center
		}
	</style>
</div>
