<style>
	.highlight {
		background-color: #FCF8E3;
	}
</style>
<div class="container">
	<div class="row">
		<div role="main" class="span12">
			<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-bookmark icon-white"></i></a>
			<div id="sidebar-wrapper">
				<div class="row-fluid">
					<a id="menu-close" href="#" class="pull-right toggle" style="margin-right:20px;"><i class="icon-white icon-remove" style="color: white; margin-top:5px;"></i></a>
				</div>
				<br/>
				<div class="row-fluid" style="text-align:center">
					<div class="span3"><a href="#">&lt; Prev</a></div>
					<div class="span6 sidebar-brand" style="line-height:18px">Lesson List</div>
					<div class="span3"><a href="#">Next &gt;</a></div>
				</div>

				<ol class="sidebar-nav">
					<% @lessons.each do |t| %>
						<li>
						<% if t.progresses.where(user_id: current_user.id).length == 1 %>
							<%= link_to t.title, app_tutorial_lesson_with_token_path(@app_name,t.token) %>
						<% else %>
							<%= t.title %>
						<% end %>
						</li>
					<% end %>
				</ol>
			</div>
			<h3 class="pull-left" style="margin-right:50px; margin-top:30px;">{Lesson <%= @current_lesson.number %>}</h3>
			<%=  render :partial => "twitter-client-tutorial/#{@current_lesson.file}" %>

			<!-- Button to trigger modal
			<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a> -->

			<!-- Modal -->
			<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel" class="ac">Congrats, this lesson is done &nbsp; &nbsp;<%= link_to ">> Next Lesson", app_tutorial_lesson_with_token_path(@app_name, @next_lesson.token), :class => "btn btn-success" %></h3>
				</div>
				<div class="modal-body">
					<h4>Lessons List</h4>
					<table class="table table-striped">
						<% @lessons.to_enum.with_index(1).each do |t,i| %>
							<tr>
							<td><%= i %></td>
							<% if t.progresses.where(user_id: current_user.id).length == 1 %>
								<%= link_to app_tutorial_lesson_with_token_path(@app_name,t.token) do %>
									<td><%= t.title %></td><td><i data-toggle="tooltip" title="Lesson Completed" style="margin-top:5px; color: #5EB95E" class="icon-ok icon-large pull-right"></i></td>
								<% end %>	
							<% else %>
								<td><%= t.title %></td><td><i data-toggle="tooltip" title="Lesson Pending" style="margin-top:5px; color: #FAA732" class="icon-minus-sign icon-large pull-right"></i></td>
							<% end %>
							</tr>
						<% end %>
					</table>
				</div>
				<div class="modal-footer">
					<h4 class="ac">Your Progress</h4><br/>
					<div class="progress">
						<div class="bar bar-success" style="width: <%= @progress_percent < 5 ? 5 : @progress_percent %>%;"><%= @progress_percent %> %</div>
					</div>
				</div>
			</div>
			<% if @done %>
				<script>
					$("#myModal").modal()
				</script>
			<% end %>
		</div>
	</div>
</div>

<style>
	#sidebar-wrapper {
		margin-left: -250px;
		left: 0;
		width: 250px;
		background: rgb(0,0,0);
		position: fixed;
		height: 100%;
		overflow-y: auto;
		z-index: 1000;
		transition: all 0.5s ease-in 0s;
		-webkit-transition: all 0.5s ease-in 0s;
		-moz-transition: all 0.5s ease-in 0s;
		-ms-transition: all 0.5s ease-in 0s;
		-o-transition: all 0.5s ease-in 0s;
	}

	.sidebar-nav {
		width: 250px;
		padding: 0;
	}

	.sidebar-nav li {
		padding: 5px 20px;
		text-indent: 20px;
	}

	.sidebar-nav li a {
		color: #999999;
		display: block;
		text-decoration: none;
	}

	.sidebar-nav li a:hover {
		color: #fff;
		background: rgba(255,255,255,0.2);
		text-decoration: none;
	}

	.sidebar-nav li a:active, .sidebar-nav li a:focus {
		text-decoration: none;
	}

	.sidebar-brand {
		height: 55px;
		line-height: 55px;
		font-size: 18px;
		color: #999999;
		color: #fff;
		background: none;
	}


	#menu-toggle {
		top: 0;
		left: 0;
		position: fixed;
		z-index: 1;
	}

	#sidebar-wrapper.active {
		left: 250px;
		width: 250px;
		transition: all 0.5s ease-out 0s;
		-webkit-transition: all 0.5s ease-out 0s;
		-moz-transition: all 0.5s ease-out 0s;
		-ms-transition: all 0.5s ease-out 0s;
		-o-transition: all 0.5s ease-out 0s;
	}

	.toggle {
		margin: 5px 5px 0 0;
	}
</style>

<script>
	$("#menu-close").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
	});
	$("#menu-toggle").click(function(e) {
		e.preventDefault();
		$("#sidebar-wrapper").toggleClass("active");
	});

	$("h1").each(function(){
		create_proper_header(this,"h1")
	})
	$("h2").each(function() {
		console.log($(this).html())
		add_item_in_nav("ul.nav.bs-sidenav", this)
		$(this).nextUntil("h2","h3").each(function(){
			console.log($(this).html())
			add_item_in_nav("ul.nav.bs-sidenav li:last ul", this)
			create_proper_header(this,"h3")
		})
		create_proper_header(this, "h2")
	})

	function create_proper_header(element,header_type) {
		id = $(element).html().replace(/\W+/g,"-")
		if (header_type == "h2" || header_type == "h1") 
		$(element).replaceWith('<div class="page-header"><' + header_type + ' id="' + id + '">' + $(element).html() + '</' + header_type + '></div>')
		else
		$(element).replaceWith('<' + header_type + ' id="' + id + '">' + $(element).html() + '</' + header_type + '>')

	}

	function add_item_in_nav(_parent,element) {
		id = $(element).html().replace(/\W+/g,"-")
		$(_parent).append('<li><a href="#' + id + '">' + $(element).html() + '</a><ul class="nav"></ul></li>')
	}

	$("blockquote").each(function(){
		$(this).replaceWith('<div class="alert alert-warning">' + $(this).text() + "</div>")
	})

</script>
